name: resource-secret-annotation-monitor

spellbook:
  name: example-book
chapter:
  name: monitoring

# Lexicon defines available EventBus instances
lexicon:
  - name: monitoring-eventbus
    type: eventbus
    labels:
      type: jetstream
      environment: staging
      default: book
    jetstream:
      version: "2.10.10"
      replicas: 3

# Test Resource EventSource monitoring Secret annotations
glyphs:
  argo-events:
    # EventSource: Monitor secrets with annotation filter
    secret-annotation-source:
      type: eventSource
      selector:
        type: jetstream
        environment: staging
      resource:
        secret-monitoring:
          namespace: default
          group: ""
          version: v1
          resource: secrets
          eventTypes:
            - UPDATE
          filter:
            # Filter by annotation using expression
            expression: |
              has(body.metadata.annotations) &&
              has(body.metadata.annotations['kast.ing/rotate']) &&
              body.metadata.annotations['kast.ing/rotate'] == 'true'

    # Sensor: Trigger secret rotation workflow
    secret-rotation-sensor:
      type: sensor
      selector:
        type: jetstream
        environment: staging
      template:
        serviceAccountName: secret-rotator
      dependencies:
        - name: secret-rotation-event
          eventSourceName: secret-annotation-source
          eventName: secret-monitoring
          filters:
            data:
              - path: body.metadata.annotations.kast\.io/rotate
                type: string
                value:
                  - "true"
      triggers:
        - name: rotate-secret-workflow
          type: argoWorkflow
          argoWorkflow:
            operation: submit
            source:
              resource:
                apiVersion: argoproj.io/v1alpha1
                kind: Workflow
                metadata:
                  generateName: rotate-secret-
                  namespace: default
                spec:
                  entrypoint: rotate
                  serviceAccountName: secret-rotator
                  arguments:
                    parameters:
                      - name: secret-name
                        value: "default-secret"
                      - name: secret-namespace
                        value: "default"
                  templates:
                    - name: rotate
                      container:
                        image: bitnami/kubectl:latest
                        command: [sh, -c]
                        args:
                          - |
                            echo "Rotating secret {{workflow.parameters.secret-name}} in namespace {{workflow.parameters.secret-namespace}}"
                            kubectl get secret {{workflow.parameters.secret-name}} -n {{workflow.parameters.secret-namespace}}
          parameters:
            - src:
                dependencyName: secret-rotation-event
                dataKey: body.metadata.name
              dest: spec.arguments.parameters.0.value
            - src:
                dependencyName: secret-rotation-event
                dataKey: body.metadata.namespace
              dest: spec.arguments.parameters.1.value
