{{/*kast - Kubernetes arcane spelling technology
Copyright (C) 2023 namenmalkv@gmail.com
Licensed under the GNU GPL v3. See LICENSE file for details.
*/}}
{{/* esto seria remplazable por $ pero para lectura de codigo */}}
{{- $root := . }}

{{- if $root.Values.glyphs }}
  {{- range $chartName, $_ := $root.Subcharts }}
    {{- range $glyphName, $glyph:= index $root.Values.glyphs $chartName }}
      {{- $glyphWithName := merge $glyph (dict "name" $glyphName) }}
      {{- include (printf "%s.%s" $chartName $glyph.type ) (list $root $glyphWithName ) }}
    {{- end }}
  {{- end }}
{{- end }}