{{/*kast - Kubernetes arcane spelling technology
Copyright (C) 2023 namenmalkv@gmail.com
Licensed under the GNU GPL v3. See LICENSE file for details.
*/}}

{{- if .Values.tarot }}
{{- if .Values.tarot.template }}
  {{/* Use cluster-wide template */}}
  {{- $clusterTemplate := include "tarot.lookupClusterTemplate" (list . .Values.tarot.template) }}
  {{- if $clusterTemplate }}
    {{- $templateDef := $clusterTemplate | fromJson }}
    {{- include "tarot.generateWorkflowFromTemplate" (list . $templateDef) }}
  {{- else }}
    {{- fail (printf "Cluster template '%s' not found in lexicon" .Values.tarot.template) }}
  {{- end }}

{{- else if .Values.tarot.reading }}
  {{/* Generate custom workflow from reading */}}
  {{- $resolvedCards := include "tarot.resolveAllCards" (list . .Values.tarot.reading) | fromJson }}

  {{/* Generate secrets from tarot.secrets (unified: K8s or Vault based on location) */}}
  {{- if .Values.tarot.secrets }}
    {{- range $name, $secretDef := .Values.tarot.secrets }}
      {{- if eq $secretDef.location "vault" }}
        {{/* Vault secret - use vault glyph */}}
        {{- include "vault.secret" (list $ (merge $secretDef (dict "name" $name))) }}
      {{- else if $secretDef.content }}
        {{/* K8s secret - use summon glyph */}}
        {{- include "summon.secrets" (list $ (dict "name" $name "definition" $secretDef)) }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{/* Generate secrets from cards (card-specific secrets only - skip duplicates) */}}
  {{- $generatedSecrets := dict }}
  {{- if .Values.tarot.secrets }}
    {{- range $name, $_ := .Values.tarot.secrets }}
      {{- $generatedSecrets = set $generatedSecrets $name true }}
    {{- end }}
  {{- end }}
  {{- range $cardName, $resolvedCard := $resolvedCards }}
    {{- if $resolvedCard.secrets }}
      {{- range $name, $secretDef := $resolvedCard.secrets }}
        {{- if not (hasKey $generatedSecrets $name) }}
          {{- if eq $secretDef.location "vault" }}
            {{/* Vault secret from card - use vault glyph */}}
            {{- include "vault.secret" (list $ (merge $secretDef (dict "name" $name))) }}
          {{- else if $secretDef.content }}
            {{/* K8s secret from card - use summon glyph */}}
            {{- include "summon.secrets" (list $ (dict "name" $name "definition" $secretDef)) }}
          {{- end }}
          {{- $generatedSecrets = set $generatedSecrets $name true }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{/* Generate ConfigMaps from tarot.configMaps (workflow-specific) */}}
  {{- if .Values.tarot.configMaps }}
    {{- range $name, $cmDef := .Values.tarot.configMaps }}
      {{- include "summon.configMap" (list $ (dict "name" $name "definition" $cmDef)) }}
    {{- end }}
  {{- end }}

  {{/* Generate PVC resources from tarot.volumes (workflow-specific) */}}
  {{- if .Values.tarot.volumes }}
    {{- range $name, $volumeDef := .Values.tarot.volumes }}
      {{- if or (eq $volumeDef.type "pvc") (eq $volumeDef.type "persistentVolumeClaim") }}
        {{- include "summon.persistentVolumeClaim" (list $ $name $volumeDef) }}
      {{- end }}
    {{- end }}
  {{- end }}

---
apiVersion: argoproj.io/v1alpha1
{{- if .Values.tarot.asTemplate }}
kind: WorkflowTemplate
{{- else }}
kind: Workflow
{{- end }}
metadata:
  {{- if and (not .Values.tarot.asTemplate) .Values.tarot.generateName }}
  generateName: {{ include "tarot.workflowName" . }}
  {{- else }}
  name: {{ include "tarot.workflowName" . }}
  {{- end }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "tarot.labels" . | nindent 4 }}
    kast.ing/workflow-type: custom
    kast.ing/execution-mode: {{ .Values.tarot.executionMode | default "dag" | quote }}
    {{- if .Values.tarot.labels }}
    {{- .Values.tarot.labels | toYaml | nindent 4 }}
    {{- end }}
  {{- if .Values.tarot.annotations }}
  annotations:
    {{- .Values.tarot.annotations | toYaml | nindent 4 }}
  {{- end }}
spec:
  entrypoint: main
  
  {{/* Service Account - usa tarot.serviceAccount o hereda del summon */}}
  {{- $serviceAccount := "" -}}
  {{- if .Values.tarot.serviceAccount.name -}}
    {{- $serviceAccount = .Values.tarot.serviceAccount.name -}}
  {{- else if .Values.serviceAccount.name -}}
    {{- $serviceAccount = .Values.serviceAccount.name -}}
  {{- end -}}
  {{- if $serviceAccount }}
  serviceAccountName: {{ $serviceAccount | quote }}
  {{- end }}

  {{/* Workflow arguments */}}
  {{- if .Values.tarot.arguments }}
  arguments:
    {{- .Values.tarot.arguments | toYaml | nindent 4 }}
  {{- end }}

  {{/* Volumes - use tarot.volumes (workflow-specific) + secrets with contentType: file */}}
  {{- if or .Values.tarot.volumes .Values.tarot.secrets }}
  volumes:
    {{- if .Values.tarot.volumes }}
    {{- $volumeContext := dict "Values" (dict "volumes" .Values.tarot.volumes) "Release" .Release "Chart" .Chart -}}
    {{- include "summon.common.volumes.volumes" $volumeContext | nindent 4 }}
    {{- end }}
    {{- if .Values.tarot.secrets }}
    {{- include "summon.common.volumes.secrets" .Values.tarot.secrets | nindent 4 }}
    {{- end }}
  {{- end }}
  
  {{/* Node Selection */}}
  {{- if .Values.nodeSelector }}
  nodeSelector:
    {{- .Values.nodeSelector | toYaml | nindent 4 }}
  {{- end }}
  
  {{/* Tolerations */}}
  {{- if .Values.tolerations }}
  tolerations:
    {{- .Values.tolerations | toYaml | nindent 4 }}
  {{- end }}
  
  {{/* Affinity */}}
  {{- if .Values.affinity }}
  affinity:
    {{- .Values.affinity | toYaml | nindent 4 }}
  {{- end }}
  
  {{/* Security Context */}}
  {{- if .Values.securityContext }}
  securityContext:
    {{- .Values.securityContext | toYaml | nindent 4 }}
  {{- end }}
  
  {{/* Resource Management */}}
  {{- if .Values.resources }}
  {{- if or .Values.resources.limits .Values.resources.requests }}
  activeDeadlineSeconds: {{ .Values.resources.activeDeadlineSeconds | default 3600 }}
  {{- end }}
  {{- end }}
  
  {{/* Templates */}}
  templates:
{{/* Main entrypoint template */}}
{{- include "tarot.generateMainTemplate" (list . .Values.tarot.reading $resolvedCards) | nindent 4 }}

{{/* Individual card templates (only for non-container/non-containerSet modes) */}}
{{- if and (ne (.Values.tarot.executionMode | default "dag") "container") (ne (.Values.tarot.executionMode | default "dag") "containerSet") }}
{{- include "tarot.generateAllCardTemplates" (list . .Values.tarot.reading $resolvedCards) | nindent 4 }}
{{- end }}

{{- else }}
  {{- fail "Tarot configuration must include either 'template' (cluster-wide) or 'reading' (custom workflow)" }}
{{- end }}
{{- end }}