# kast - Kubernetes arcane spelling technology
# Copyright (C) 2023 namenmalkv@gmail.com
# Licensed under the GNU GPL v3. See LICENSE file for details.

lexicon:
  - chapter: base-system
    skipVerify: true
    type: vault
    url: http://vault.vault.svc:8200
    namespace: vault
    serviceAccount: vault
    authPath: k8s-path-auth
    secretPath: kv
    labels:
      default: book