# kast - Kubernetes arcane spelling technology
# Copyright (C) 2023 namenmalkv@gmail.com
# Licensed under the GNU GPL v3. See LICENSE file for details.

# Basic Service Example
# Tests summon glyph service template generation

name: api-service

service:
  enabled: true
  type: ClusterIP
  ports:
    - port: 80
      protocol: TCP
      name: http
      targetPort: 8080
    - port: 443
      protocol: TCP
      name: https
      targetPort: 8443
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: nlb