# Test: Multiple Services with Selective Enablement
# Some services enabled, others disabled

workload:
  enabled: true
  type: deployment
  replicas: 1

image:
  name: myapp
  tag: v1.0.0

containers:
  main:
    ports:
      - containerPort: 8080
        name: http
      - containerPort: 9090
        name: metrics
      - containerPort: 8081
        name: admin

services:
  public:
    enabled: true
    type: ClusterIP
    ports:
      - port: 80
        targetPort: http

  monitoring:
    enabled: true
    type: ClusterIP
    ports:
      - port: 9090
        targetPort: metrics

  admin:
    enabled: false  # Should NOT be created
    type: ClusterIP
    ports:
      - port: 8081
        targetPort: admin

serviceAccount:
  enabled: false
