name: externalsecrets-basic-test

lexicon:
  # Vault server config (required for path generation)
  - chapter: base-system
    skipVerify: true
    type: vault
    url: http://vault.vault.svc:8200
    namespace: vault
    serviceAccount: vault
    authPath: k8s-path-auth
    secretPath: kv
    labels:
      default: book
      provider: vault

  # SecretStore metadata (for runic indexer discovery)
  - name: vault-store
    type: secret-store
    mode: cluster
    labels:
      default: book
      provider: vault
  # Secret store in AWS (w labels)
  - name: aws-store
    type: secret-store
    mode: cluster
    provider: aws
    labels:
      environment: prod
      hosted: cloud

glyphs:
  external-secrets:
    # Secret Store (Cluster-wide)
    - type: secret-store
      mode: cluster
      name: vault-store
      provider:
        type: vault
        selector:
          provider: vault
          default: book

    # External Secret with inline data mapping
    - type: push-secret
      name: app-config
    - type: push-secret
      name: custom-length
      password:
        length: "jorge"
        digits: "jorge"
        symbols: "jorge"
        symbolCharacters: "jorge"
        repeat: "false"
    - type: push-secret
      name: vault-provider
      selector:
        provider: vault
    - type: push-secret
      name: aws-provider
      selector:
        environment: prod
        hosted: cloud
    - type: push-secret
      name: custom-path
      path: /foo/bar