# kast - Kubernetes arcane spelling technology
# Copyright (C) 2023 namenmalkv@gmail.com
# Licensed under the GNU GPL v3. See LICENSE file for details.

spellbook:
  name: silly
  chapters:
    - willy
chapter:
  name: willy
glyphs:
  postgresql:
    type: cluster
    name: example-cluster #optional default to spell name
    description: example description # optional
    instances: 2 # optional, default 1
    startDelay: 3000 # optional 
    stopDelay: 100 # optional
    roles: # optional if you want roles
      - name: example-authentication
        ensure: present
        connectionLimit: -1
        inherit: true
        comment: the example authentication user
        login: true
        superuser: true
        createdb: true
        createrole: true
        passwordSecret:
          name: example-authentication
    primaryUpdateStrategy: supervised # optional, default unsupervised
    image: # optional, default latest stable version, recommmended to leave empty  unless u need specific version
      name: cloudnative-pg/postgresql
      repository: ghcr.io
      tag: "17.5"
    postInitApp: # init db configuration, optional
      database: silly # name of the init aplication database
      owner: silly # owner of init aplication database
      type: cm # cm for configmap // future support for use secrets instead
      name: config-cm # optional if not create, shouldnt be both create and explicit name
      key: config-cm #optional if not create, same as above
      create: true # default false, if true, creates a config map wwith the data below
      content: | # if created a configmap, this is the content of it.
        CREATE DATABASE silly;
    storage:
      storageClass: my-storage-class #optional
      size: 5Gi #optional, default 1Gi


  
    # minimal configuration: creates an empty posgresql empty and the secrets with default names
    # it also creates a pvc for the data of 1gb
    type: cluster
