{{/*kast - Kubernetes arcane spelling technology
Copyright (C) 2023 namenmalkv@gmail.com
Licensed under the GNU GPL v3. See LICENSE file for details.
 */}}
{{- $root := . }}{{/* esto seria remplazable por $ pero para lectura de codigo */}} 

{{- if .Values.debug }}
root: |
  {{ toYaml $root | nindent 2 }}
{{- end }}

{{/* glyph system for summons 
## TODO no entendi por q no puede ser una lista aun (bug/skill issue)




*/}} 


{{- range $chartName, $_ := $root.Subcharts }}
  {{- if ne $chartName "summon" }}
    {{- range $glyphName, $glyph:= get $root.Values $chartName }}
      {{- if and $glyph (gt (len $glyph) 0) }}
        {{- if $glyph.type }}
          {{- $glyphWithName := merge $glyph (dict "name" $glyphName) }}
          {{- include (printf "%s.%s" $chartName $glyph.type ) (list $root $glyphWithName ) }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{/* ## TODO ver de migrar lo q falta a glyph compatible y si hace falta capas rompe muchas cosas*/}} 


{{/* default app style */}} 
{{- if .Values.workload.enabled  }}
{{- include ( printf "summon.workload.%s" .Values.workload.type ) . }}
{{- end -}}

{{- range $name, $content := .Values.configMaps }}
  {{- if eq $content.location "create" }}
  {{- $glyph := dict "name" $name "definition" $content  }}
    {{- include "summon.configMap" (list $root $glyph )  }}
  {{- end -}}
{{- end -}}

{{- range $name, $content := .Values.secrets }}
  {{- if eq $content.location "create" }}
    {{- $glyph := dict "name" $name "definition" $content  }}
    {{- include "summon.secrets" (list $root $glyph )  }}
  {{- end -}}
{{- end -}}

{{- if .Values.serviceAccount.enabled }}
{{- include "summon.serviceAccount" . }}
{{- end -}}

{{- if .Values.autoscaling.enabled }}
{{- include "summon.autoscaling" . }}
{{- end }}

{{- if or .Values.service.enabled .Values.services }}
  {{- if or (eq .Values.workload.type "deployment") (eq .Values.workload.type "statefulset") (eq .Values.workload.type "daemonset") }}
{{- include "summon.services.render" . }}
  {{- end }}
{{- end }}

{{- if .Values.volumes }}
  {{- range $name, $volume := .Values.volumes }}
    {{- if eq $volume.type "pvc" }}
      {{- if and $volume.pv (not $volume.stateClaimTemplate) }}
        {{- include "summon.pv" (list $ $name $volume nil) }}
      {{- end }}
      {{- if not $volume.stateClaimTemplate }}
        {{- include "summon.persistentVolumeClaim" (list $ $name $volume nil) }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}